<h1>Editing Business Professional</h1>

<%= render 'form', business_professional: @business_professional %>

<%= link_to 'Show', @business_professional %> |
<%= link_to 'Back', business_professionals_path %>
