<section class="show-box">
<div class="info">
<h1>Editing Entry <%=@business_professional.id%> of the Business Professionals Table</h1>

<%= render 'form', business_professional: @business_professional %>

<!-- <%= link_to 'Show', @business_professional , class: 'btn btn-primary btn-sm' %> -->
<%= link_to 'Back', :back , class: 'btn btn-primary btn-sm'%>
</div>
</section>
