<% if false %>
  <%= form_tag :search_business_professionals, method: :get, class: "search" do %>
    <%= text_field_tag "q", params[:q], placeholder: "Full name" %>
    <%= submit_tag "Search" %>
  <% end %>
<% end %>

<p id="notice"><%= notice %></p>
<h1 class="index-title"  >Business Professionals</h1>
<div id="tabular" class="tabular-demo container table-responsive"></div>
<script>
  $(function() {
    tabular.start('#tabular', {
      columns: [
        { title: 'Id', name: 'id' },
        { title: 'Organization', name: 'org_name' },
        { title: 'First Name', name: 'first_name' },
        { title: 'Last Name', name: 'last_name' },
        { title: 'Email', name: 'email' }
        <% if session[:isAdmin] %>
          ,{ title: '', name: 'show_link', sort: false },
          { title: '', name: 'show_link1', sort: false },
          { title: '', name: 'show_link2', sort: false }
        <% end %>
      ],
      source:      '/business_professionals.json',
      tableClass:  'table table-hover table-bordered'
    });
  });
</script>

<br>