<p id="notice"><%= notice %></p>
<h1 class="index-title" >Student Attendances</h1>
<div class="container">
<%= link_to "Create Attendance Entry", new_member_attendance_path, class: 'btn btn-primary btn-sm'%>
</div>
<br>
<div id="tabular" class="tabular-demo container table-responsive"></div>
<script>
  $(function() {
    tabular.start('#tabular', {
      columns: [
        { title: 'Id', name: 'id' },
        { title: 'Event Name', name: 'name' },
        { title: 'Event Date', name: 'date' },
        { title: 'Point Type', name: 'point_type' },
        { title: 'UIN', name: 'uin' },
        { title: 'First Name', name: 'first_name' },
        { title: 'Last Name', name: 'last_name' },
        { title: 'Email', name: 'email' },
        { title: '', name: 'show_link', sort: false },
        { title: '', name: 'show_link1', sort: false },
        { title: '', name: 'show_link2', sort: false }
      ],
      source:      '/member_attendances.json',
      tableClass:  'table table-hover table-bordered'
    });
  });
</script>
<br>
