<footer  class="footer mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item" ><a href="/pages/home" style="color:#ffffff">Home</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item" ><a href="/pages/officers" style="color:#ffffff">About</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="/pages/faq" style="color:#ffffff">FAQ</a></li>
                        <% if session[:isAdmin] %>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="/pages/help" style="color:#ffffff">Help</a></li>
                        <% end %>
                    </ul>
                    <p class="mb-4 mb-lg-0" style="color:#ffffff">© 2022 ASLA TAMU Student Chapter</p>
                </div>
                <div class="col-lg-6 text-center text-lg-end my-auto h-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a style="color:#ffffff;display: inline-block;" href="https://tamu.estore.flywire.com/products/asla-dues-16590" target="_blank" title="Pay Your Dues!"><i class="fas fa-dollar-sign fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a style="color:#ffffff;display: inline-block;" href="mailto:sasla.tamu@gmail.com" target="_blank" title="Email Us"><i class="fas fa-envelope fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a style="color:#ffffff;display: inline-block;" href="https://www.instagram.com/tamuasla/" target="_blank" title="View our Instagram!"><i class="fab fa-instagram fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>