<p id="notice"><%= notice %></p>
<h1>Events</h1>
<div id="tabular" class="tabular-demo"></div>

<script>
  $(function() {
    tabular.start('#tabular', {
      columns: [
        { title: 'Id', name: 'id' },
        { title: 'Date', name: 'date' },
        { title: 'name', name: 'name' },
        { title: 'location', name: 'location' },
        { title: 'time', name: 'time' },
        { title: 'description', name: 'description' },
        { title: 'event_Type', name: 'event_type' },
        { title: 'event code', name: 'event_code' }
          ,{ title: '', name: 'show_link', sort: false },
          { title: '', name: 'show_link1', sort: false },
          { title: '', name: 'show_link2', sort: false }
      ],
      source:      '/events.json'
    });
  });
</script>

<br>
<%= link_to 'New Event', new_event_path %>
