<section class="show-box">
<div class="info">
<h1>Editing Entry <%=@event_business_professional.id%> of the Professional Registrations Table</h1>

<%= render 'form', event_business_professional: @event_business_professional %>

<%= link_to 'Show', @event_business_professional , class: 'btn btn-primary btn-sm' %> 
<%= link_to 'Back', event_business_professionals_path , class: 'btn btn-primary btn-sm' %>
</div>
</section>
