<p id="notice"><%= notice %></p>
<h1 style="text-align: center;color: #500000;" >Professionals Event Registration Table</h1>
<div class="container">
<%= link_to "Register a Professional", new_event_business_professional_path, class: 'btn btn-primary btn-sm'%>
</div>
<br>
<div id="tabular" class="tabular-demo container"></div>
<script>
  $(function() {
    tabular.start('#tabular', {
      columns: [
        { title: 'Id', name: 'id' },
        { title: 'Event Name', name: 'name' },
        { title: 'Event Date', name: 'date' },
        { title: 'Organization', name: 'org_name' },
        { title: 'First Name', name: 'first_name' },
        { title: 'Last Name', name: 'last_name' },
        { title: 'Email', name: 'email' },
        { title: '', name: 'show_link', sort: false },
        { title: '', name: 'show_link1', sort: false },
        { title: '', name: 'show_link2', sort: false }
      ],
      source:      '/event_business_professionals.json'
    });
  });
</script>
<br>
