<section class="py-4 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Contact Us</h1>
        <p class="lead text-muted">Email: <a href = "mailto: sasla.tamu@gmail.com">sasla.tamu@gmail.com</a></p>
      </div>
    </div>
  </section>
