<head>
  <title> test FAQ </title>
</head>

<body>
  <div>
    <h1> Fequently Asked Quesitons </h1>
  </div>
  <section>
    <div class = "dropdown">
      <button class = "btn btn-secondary dropdown-toggle" type = "button" id = "dropdownmenuButton1" data-bs-toggle = "dropdown" aria-expanded = "false">
        Help, I am not able to login to my account.
      </button>
      <ul class = "dropdown-menu" aria-labelledby = "dropdownMenuButton1">
        <li> <a class = "dropdown-item" href = "#"> Check that you are logged in to your Google account outside of the ASLA app in another Tab</a> </li>
        <li> <a class = "dropdown-item" href = "#">Make sure you are using the correct Google account (the account you used to first login to ASLA)</a> </li>
        <li> <a class = "dropdown-item" href = "#"> Contact an officer </a> </li>
      </ul>
    </div>
    <div class = "dropdown">
      <button class = "btn btn-secondary dropdown-toggle" type = "button" id = "dropdownmenuButton1" data-bs-toggle = "dropdown" aria-expanded = "false">
        My points are incorrectly displayed <strong> OR </strong> I did not get credt for an event I attended.
      </button>
      <ul class = "dropdown-menu" aria-labelledby = "dropdownMenuButton1">
        <li> <a class = "dropdown-item" href = "#"> Make sure you entered the correct "Event Code" that was distributed at the event in question </a> </li>
        <li> <a class = "dropdown-item" href = "#"> Contact an officer</a> </li>
      </ul>
    </div>
  </section>
</body>

