<section class="py-4 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Admin Help Page</h1>
        <p class="lead text-muted">All actions described below requires you logged in with an officer account.</p>
      </div>
    </div>
</section>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Carousel Help
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p>Go to the home page and scroll to the bottom of the page. You will find a button on the with the words "Edit Carousel". </p>
        <br>
        <p>After clicking on the button, you will be taken to the carousel control page, where all uploaded pictures will be listed. </p>
        <br>
        <p>On the control page, you will find a link with the words "New Carousel Image" </p>
        <br>
        <p>After clicking on the link, you will be able upload and name an image. Please make sure the name is descriptive so its easier to manage. </p>
        <br>
        <p>*** PLEASE ENSURE THERE IS AT LEAST ONE PICTURE IN THE Carousel AT ALL TIMES*** </p>
        <br>
        <p>The image does not show in the table on the control page. Use the "show" link corresponding to each entry to view the pictures.</p>
        <br>
        <p>To manage existing images, use the "edit" or "destroy" links that correspond to each image name on the control page.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          About Us (Officers Page) Help
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      <p>Go to the About us page and scroll to the bottom of the page. You will find a button with the words "Manage Officers". </p>
      <br>
      <p>After clicking on the button, you will be taken to the Officer Picture control page, where all existing officers will be listed. </p>
      <br>
      <p>On the top left of the control page, you will find a button with the words "New Officer Pic".</p>
      <br>
      <p>After clicking on the button, you will be able to put your name, upload an image, and include a short bio.</p>
      <br>
      <p>To manage existing Officer pictures, use the "edit" or "destroy" links that correspond to each Officer on the control page. </p>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Calendar
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        The Google Calendar displayed on the calendar page is linked to the ASLA gmail account. Updates on the ASLA google calendar will be reflected here.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          User Dashboard
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <p>After logging in, your google avatar will show up on the navigation bar at the top of the website.</p>
        <br>
        <p>A dropdown menu will appear after clicking on the avatar. You can find the "Dashboard" link to your user dashboard.</p>
        <br>
        <p>Your information will be listed on the left side of the dashboard. To edit it, click the "Edit your information" link.</p>
        <br>
        <p>In the middle of the page, there are some shortcuts to different pages. This section is mainly for the student members so they can get around easily.</p>
        <br>
        <p>Upcoming, registered and attends events will show up on the right side of the dashboard</p>
        <br>
        <p>There is a points leaderboard showing the members with the most points.</p>
        <br>
        <p>Towards the bottom left of the dashboard, there are some officer tools. Use the "email copying" tool to select your target audience and
         copy their emails. Use the "reset dues/points" tool to set all dues/points to false/0 (use this at end of semesters for a full reset).
          Lastly, use the "Set Points Requirement" tool to declare the number of required points for members.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Managing Student Members
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <p>After logging in, your google avatar will show up on the navigation bar at the top of the website.</p>
        <br>
        <p>A dropdown menu will appear after clicking on the avatar. You can find the "Students" link to the student members page.</p>
        <br>
        <p>On the student members page, you will see a listing of all members along with their information. For each member, there will be a "View", "Edit", and "Delete" button. Use these tools to help manage member information. </p>
        <br>
        <p>There is a search bar to the right side of the page. You can use this to help locate a specific member using their first or last name.</p>
        <br>
        <p>Each Column of the table is clickable. Clicking on a column will sort the table by that column.</p>
        <br>
        <p>You can choose how many rows of the table to display with the dropdown menu indicating number of rows. Use the "First", "Previous", "Next", and "Last" buttons to navigate through the table.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Managing Business Professionals
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
      <p>After logging in, your google avatar will show up on the navigation bar at the top of the website.</p>
      <br>
      <p>A dropdown menu will appear after clicking on the avatar. You can find the "Professoinals" link to the business professionals page.</p>
      <br>
      <p>On the professionals page, you will see a listing of all professionals along with their information. For each professional, there will be a "View", "Edit", and "Delete" button. Use these tools to help manage member information. </p>
      <br>
      <p>There is a search bar to the right side of the page. You can use this to help locate a specific professional using their first or last name.</p>
      <br>
      <p>Each Column of the table is clickable. Clicking on a column will sort the table by that column.</p>
      <br>
      <p>You can choose how many rows of the table to display with the dropdown menu indicating number of rows. Use the "First", "Previous", "Next", and "Last" buttons to navigate through the table.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Managing Events
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        <p>After logging in, your google avatar will show up on the navigation bar at the top of the website.</p>
        <br>
        <p>A dropdown menu will appear after clicking on the avatar. You can find the "Events" link to the events page.</p>
        <br>
        <p>The "create/edit/delete events" button links to the main control page for managing events. Click on the button to access it.</p>
        <ul>
          <li>On the control page, use the "Create a New Event" button on the top left to create new events.</li>
          <br>
          <li>There will be a random 5 digit code generated for each event. This will be used for keeping track of event attendance.
          <br>
          <li>On the control page, you will see a listing of all created events with their information. For each event, there will be a "View", "Edit", and "Delete" button.</li>
        </ul>
        <br>
        <p>The "View students' registration" button links to a table that shows student registration for events.  Click on the button to access it.</p>
        <ul>
          <li>Use the "Register a Member" button on the top left to manually register a student memeber for an event.</li>
          <br>
          <li>On this page, you will see a listing of all members that registered for events. For each register entry, there will be a "View", "Edit", and "Delete" button.</li>
        </ul>
        <br>
        <p>The "View students' attendance" button links to a table that shows student attendance for events.  Click on the button to access it.</p>
        <ul>
          <li>Use the "Create Attendance Entry" button on the top left to manually mark attendance for a member/event.</li>
          <br>
          <li>On this page, you will see a listing of all attendance entries. For each entry, there will be a "View", "Edit", and "Delete" button.</li>
        </ul>
        <br>
        <p>The "View professionals' registraion" and "view professionals' attendance" are same as the two described above, but for business professionals.</p>
        <br>
        <p>The "register myself/enter code for events" button links to a page where you can register for events and enter event codes for attendance.</p>
        <ul>
          <li>On this page, you will see a listing of all current events.</li> 
          <br>
          <li>For each event, basic information will be listed. You can register for the event by clicking on the corresponding "register" button.</li>
          <br>
          <li>Once you are registered for an event, you will have a bar where you can enter the event's code to account for attendance.</li>
        </ul>
        <p>The "View events I attended" button links to a table showing events that you have attended.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Managing Newsletter Posts
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        <p>After logging in, your google avatar will show up on the navigation bar at the top of the website.</p>
        <br>
        <p>A dropdown menu will appear after clicking on the avatar. You can find the "Newsletters" link to the newsletter page.</p>
        <br>
        <p>To create a new post, use the "New Newsletter" link towards the top of the page.</p>
        <br>
        <p>When creating a new post, you can enter a title, message, and upload pictures. To upload multiple pictures, select multiple pictures when prompted for a file (you might have to put the pictures in the same folder to do this easily).</p>
        <p>NOTE: The first selected picture will be the "thumbnail" of the newsletter post. Please put that into consideration when selecting pictures.</p>
        <br>
        <p>Due to website formatting standards with our software, the images are limited to a small size. The original image can be viewed by clicking on them in the "show" page.</p>
      </div>
    </div>
  </div>

</div>
<br>
