<section class="py-4 text-center container">
    <div class="row py-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Admin Help Page</h1>
        <p class="lead text-muted">All actions described below requires you logged in with an officer account.</p>
      </div>
    </div>
</section>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Carousel Help
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p>Go to the home page and scroll to the bottom of the page. You will find a blue button on the lower left corner with the words "Edit Carousel". </p>
        <br>
        <p>After clicking on the button, you will be taken to the carousel control page, where all uploaded pictures will be listed. </p>
        <br>
        <p>On the control page, you will find a link with the words "New Carousel Image" </p>
        <br>
        <p>After clicking on the link, you will be able upload and name an image. Please make sure the name is descriptive so its easier to manage. </p>
        <br>
        <p>*** PLEASE ENSURE THERE IS AT LEAST ONE PICTURE IN THE Carousel AT ALL TIMES*** </p>
        <br>
        <p>To manage existing images, use the "edit" or "destroy" links that correspond to each image name on the control page.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          About Us (Officers Page) Help
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      <p>Go to the About us page and scroll to the bottom of the page. You will find a blue button on the lower left corner with the words "Manage Officers". </p>
      <br>
      <p>After clicking on the button, you will be taken to the Officer Picture control page, where all uploaded pictures will be listed. </p>
      <br>
      <p>On the control page, you will find a link with the words "New Officer Pic".</p>
      <br>
      <p>After clicking on the link, you will be able to put your name, upload an image, and include a short bio.</p>
      <br>
      <p>To manage existing Officer pictures, use the "edit" or "destroy" links that correspond to each Officer on the control page. </p>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Calendar
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        The Google Calendar displayed on the calendar page is linked to the ASLA gmail account. Updates on the ASLA google calendar will be reflected here.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          User Dashboard
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <p>After logging in, your google avatar will show up on the navigation bar at the top of the website.</p>
        <br>
        <p>A dropdown menu will appear after clicking on the avatar. You can find the "Dashboard" link to your user dashboard.</p>
        <br>
        <p>Your information will be listed on the left side of the dashboard. To edit it, click the "Edit your information" link.</p>
        <br>
        <p>Towards the bottom of the dashboard, there is a mailer tool that will copy all emails of the member types selected to your clipboard.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Managing Student Members
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <p>After logging in, your google avatar will show up on the navigation bar at the top of the website.</p>
        <br>
        <p>A dropdown menu will appear after clicking on the avatar. You can find the "Students" link to the student members page.</p>
        <br>
        <p>On the student members page, you will see a listing of all members along with their information. For each member, there will be a "View", "Edit", and "Delete" button. Use these tools to help manage member information. </p>
        <br>
        <p>There is a search bar to the right side of the page. You can use this to help locate a specific member using their first or last name.</p>
        <br>
        <p>Each Column of the table is clickable. Clicking on a column will sort the table by that column.</p>
        <br>
        <p>Near the top of the page, the "Reset" button can be used to reset the points or dues paid status for all members, use by selecting an option first and then clicking the button.</p>
        <br>
        <p>You can adjust the total points requirement by entering a number in the "Required points" bar and then pressing the Update button.</p>
        <br>
        <p>You can choose how many rows of the table to display with the dropdown menu indicating number of rows. Use the "First", "Previous", "Next", and "Last" buttons to navigate through the table.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Managing Business Professionals
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
      <p>After logging in, your google avatar will show up on the navigation bar at the top of the website.</p>
      <br>
      <p>A dropdown menu will appear after clicking on the avatar. You can find the "Professoinals" link to the business professionals page.</p>
      <br>
      <p>On the professionals page, you will see a listing of all professionals along with their information. For each professional, there will be a "View", "Edit", and "Delete" button. Use these tools to help manage member information. </p>
      <br>
      <p>There is a search bar to the right side of the page. You can use this to help locate a specific professional using their first or last name.</p>
      <br>
      <p>Each Column of the table is clickable. Clicking on a column will sort the table by that column.</p>
      <br>
      <p>You can choose how many rows of the table to display with the dropdown menu indicating number of rows. Use the "First", "Previous", "Next", and "Last" buttons to navigate through the table.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Managing Events
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        <p>WORK IN PROGRESS</p>
        <br>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Managing Newsletter Posts
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        <p>After logging in, your google avatar will show up on the navigation bar at the top of the website.</p>
        <br>
        <p>A dropdown menu will appear after clicking on the avatar. You can find the "Newsletters" link to the newsletter page.</p>
        <br>
        <p>To create a new post, use the "New Newsletter" link towards the top of the page.</p>
        <br>
        <p>When creating a new post, you can enter a title, message, and upload pictures. To upload multiple pictures, select multiple pictures when prompted for a file (you might have to put the pictures in the same folder to do this easily).</p>
      </div>
    </div>
  </div>

</div>
<br>