

<br>
<p id="success"></p>

<% if @recipients_str %>

  <script>
  navigator.clipboard.writeText("<%= @recipients_str %>").then(() =>{

    document.querySelector("#success").innerHTML = "Copied Emails";
  });
  </script>

<% end %>

