
<br>
<div style="margin-left: 30px">
<h4>Copy emails of:</h4>

<form action="/pages/mail" method="get" id="mail_form">

  <input type="checkbox" id="group1" name="group1" value="officers">
  <label for="group1">officers</label><br>
  <input type="checkbox" id="group2" name="group2" value="non_officers">
  <label for="group2">non-officer students</label><br>
  <input type="checkbox" id="group3" name="group3" value="business">
  <label for="group3">business professionals</label><br><br>

  <input type="submit" value="Copy to Clipboard">
</form>

<br>
<p id="success"></p>
<div>

<% if @recipients_str %>

  <script>
  navigator.clipboard.writeText("<%= @recipients_str %>").then(() =>{

    document.querySelector("#success").innerHTML = "Copied Emails";
  });
  </script>

<% end %>

