<section class="show-box">
    <div class="info">
        <h1>Please finish setting up your account</h1>
        <h2>What best describes you?</h2>
        <br>
        <div style="text-align:center;">
        <a class="btn btn-primary btn-lg" href="/student_members/new"><i class="fas fa-graduation-cap fa-lg fa-fw"></i> I am a Student Member</a>
        <br>
        <br>
        <a class="btn btn-primary btn-lg" href="/business_professionals/new"><i class="fas fa-user-tie fa-lg fa-fw"></i> I am a Business Professional</a>
        </div>
    
    </div>
</section>



