<h1>Who are you?</h1>


<%= link_to "Current Student", new_student_member_path, class: 'btn btn-primary mx-auto' %>

<%= link_to "Business Professional", new_business_professional_path, class: 'btn btn-primary mx-auto' %>