<div class="text-center", style="margin-top: 50px">
    <h1>Please finish setting up your account</h1>
    <h2>What best describes you?</h2>
    <%= link_to "Current Student", new_student_member_path, class: 'btn btn-primary btn-lg text-white' %>
    <%= link_to "Business Professional", new_business_professional_path, class: 'btn btn-primary btn-lg text-white' %>
</div>