<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sent Email:</h1>
    <p><b>Emails:</b></p>
    <p><%= @emails %></p>
    <p><b>Subject:</b></p>
    <p><%= @subject %></p> 
    <p><b>Body:</b></p>
    <p><%= @body %></p>  
  </body>
</html>