<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    <title>ASLA | Calendar</title>
  </thead>

  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <td><%= link_to 'Show', calendar %></td>
        <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
        <td><%= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  
  <h1>Google Calendar</h1>

  <div>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23616161&ctz=America%2FChicago&showTitle=0&showPrint=0&showTz=0&showCalendars=0&src=bWNhZGlldXgyMDIzQHRhbXUuZWR1&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%230B8043" 
      style="border:solid 1px #777; position:relative; left: 25%; width: 50%; height: 500px;" frameborder="0" scrolling="no" >
    </iframe>
  </div>
<br>

