<p id="notice"><%= notice %></p>
  
  <h1 class="index-title">Google Calendar</h1>

  <div>
    <iframe src="https://calendar.google.com/calendar/embed?src=c_7fp5itunv5umsldk6tiuvsd5n4%40group.calendar.google.com&ctz=America%2FChicago" 
      style="border:solid 1px #777; position:relative; left: 25%; width: 50%; height: 500px;" width="800" height="600" frameborder="0" scrolling="no">
    </iframe>
  </div>
<br>

