<section class="show-box">
<div class="info">
<h1>New Professional Attendance</h1>

<%= render 'form', business_attendance: @business_attendance %>

<%= link_to 'Back', business_attendances_path , class: 'btn btn-primary btn-sm' %>
</div>
</section>
