/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*Wave animation from https://jarv.is/notes/css-waving-hand-emoji */
 .wave:hover {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

 .profile-pic {
    border-radius: 50%;
    width: 50%;
 }

.info-column {
  float: left;
  width: 50%;
  padding: 10px;
}
 .disabled input{
   background: #dddddd;
   border-color: #bbbbbb;
   pointer-events:none;
 }

 .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }

 .btn-primary {
    background-color: #500000 !important;
    color: white !important;
    border-color: #500000 !important;
  }

  .btn-primary:hover {
    background-color: white !important;
    color: #500000 !important;
    border-color: #500000 !important;
  }

  .nav-link {
    font-size: 20px !important;
    color: white !important;
  }

  .nav-link:hover {
    background-color: #500000 !important;
    color: #a7a7a7 !important;
  }

  .navbar-brand:hover {
    background-color: #500000 !important;
  }

html {
  position: relative;
  min-height: 100%;
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #eaeaea;
  padding: 1%;
}

.list-group-item {
  text-align: center;
}






.shift_right {
  margin-left: 30px;
}



.show-box {
  background: #f1f7fc;
  padding: 80px 0;
}

@media (max-width:767px) {
  .show-box {
    padding: 20px 0;
  }
}

.show-box .info {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}


.show-box h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}


