// Place all the styles related to the StudentMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// CSS reset START
.dashboard {
  zoom: normal;
}

/*Wave animation from https://jarv.is/notes/css-waving-hand-emoji */
.wave:hover {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

/*Medal code from https://codepen.io/ViRPo/pen/WNNoRKB*/
.quiz-medal {
    margin: 30px 0 0 30px;
    animation: popout 1s ease;
  }
  // CSS reset END
  
  $gold-medal: #f9ad0e;
  $silver-medal: #d1d7da;
  $bronze-medal: #df7e08;
  $neutral-medal: #d1d7da;
  
  .quiz-medal {
    position: relative;
    margin-bottom: 16px;
  }

  .quiz-medal__circle {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 500;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    color: white;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    position: relative;
    border-width: 0.2em;
    border-style: solid;
    z-index: 1;

    // Default colors
    box-shadow: inset 0 0 0 darken($neutral-medal, 15%), 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-color: lighten(adjust-hue($neutral-medal, 10), 10%);
    text-shadow: 2px 2px 0 darken($neutral-medal, 20%);
    background: linear-gradient(to bottom right, $neutral-medal 50%, darken($neutral-medal, 5%) 50%);
  
    &.quiz-medal__circle--gold {
      box-shadow: inset 0 0 0 darken($gold-medal, 15%), 2px 2px 0 rgba(0, 0, 0, 0.08);
      border-color: lighten(adjust-hue($gold-medal, 10), 10%);
      text-shadow: 0 0 4px darken($gold-medal, 20%);
      background: linear-gradient(to bottom right, $gold-medal 50%, darken($gold-medal, 5%) 50%);
    }
  
    &.quiz-medal__circle--silver {
      box-shadow: inset 0 0 0 darken($silver-medal, 15%), 2px 2px 0 rgba(0, 0, 0, 0.08);
      border-color: lighten(adjust-hue($silver-medal, 10), 10%);
      text-shadow: 0px 0px 4px darken($silver-medal, 20%);
      background: linear-gradient(to bottom right, $silver-medal 50%, darken($silver-medal, 5%) 50%);
    }
  
    &.quiz-medal__circle--bronze {
      box-shadow: inset 0 0 0 darken($bronze-medal, 15%), 2px 2px 0 rgba(0, 0, 0, 0.08);
      border-color: lighten(adjust-hue($bronze-medal, 10), 10%);
      text-shadow: 0 0 4px darken($bronze-medal, 20%);
      background: linear-gradient(to bottom right, $bronze-medal 50%, darken($bronze-medal, 5%) 50%);
    }
  }


.popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}
@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

/* Shine effect from https://codepen.io/keralpatel/pen/BajqRWK*/
.quiz-medal__circle:before {
  content: '';
  position: absolute;
  top: 0;
  left: -65px;
  width: 40px;
  height: 100%;
  background: rgba(255,255,255, 0.3);
  transform: skewX(-45deg);
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: .3s;
  animation-iteration-count: infinite;
  background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
    );
  }
  @keyframes slide {
    0% {
      left: -20;
      top: 0;
    }
    50% {
      left: 40px;
      top: 5px;
    }
  }

  .event-button {
    color: #500000;
    border: 2px solid #500000;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .event-button:hover {
    background: #500000;
    color: white;
  }

  .event-dashboard-card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.scroll::-webkit-scrollbar {
  width: 4px;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}