<section class="show-box">
<div class="info">
<h1>New Student Registration</h1>

<%= render 'form', event_student_member: @event_student_member %>

<%= link_to 'Back', event_student_members_path , class: 'btn btn-primary btn-sm' %>
</div>
</section>
