<p id="notice"><%= notice %></p>
<h1 class="index-title" >Students</h1>
<div id="tabular" class="tabular-demo container table-responsive"></div>
<script>

  $(function() {
    tabular.start('#tabular', {
      columns: [
        <% if session[:isAdmin] %>
        { title: 'Id', name: 'id' },
        <% end %>
        { title: 'First Name', name: 'first_name' },
        { title: 'Last Name', name: 'last_name' },
        { title: 'Title', name: 'member_title' },
        { title: 'Class Year', name: 'class_year' },
        { title: 'Email', name: 'email' },
        {title: 'Graduation Date', name:'expected_graduation_date'},
        {title: 'Program Level', name:'program_level'}
        <% if session[:isAdmin] %>
        ,{title: 'Dues Paid', name:'dues_paid'},
        { title: 'Meeting Points', name: 'meeting_point_amount' },
        { title: 'Social Points', name: 'social_point_amount' },
        { title: 'Fundraiser Points', name: 'fundraiser_point_amount' },
        { title: 'Informational Points', name: 'informational_point_amount' }
        <% end %>
        <% if session[:isAdmin] || session[:isBusinessProfessional]%>
          ,{ title: '', name: 'show_link', sort: false }
        <% end %>
        <% if session[:isAdmin] %>
          ,{ title: '', name: 'show_link1', sort: false },
          { title: '', name: 'show_link2', sort: false }
        <% end %>
      ],
      source:      '/student_members.json',
      tableClass:  'table table-hover table-bordered'
    });
  });
</script>
<br>